<div class="col-6">
        <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.tipoparcodigo}}" placeholder="First Name" name = "tipoparcodigo">
        <label for="first_name">Tipo Codigo</label>
        </div>
    </div>

    <div class="col-12">
        <div class="form-floating mb-3">
        <textarea class="form-control" id="floatingInput" placeholder="Comments" name = "tipodescripcion" style="height: 200px;">{{this.tipodescripcion}}</textarea>
        <label for="tipodescripcion">Tipo Descripcion</label>
        </div>
    </div>
    
    <div class = "col-12 d-grid">
        <button class="btn btn-primary" type = "submit">Submit</button>
    </div>