<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/estandar">Catalogo de Cuentas - Estandar</a></li>
    <li class="breadcrumb-item active" aria-current="page">Agregar Cuenta a Nivel 2</li>
  </ol>
</nav>

{{#if message}}
{{message}}
{{/if}}

<form class = "row g-3 needs-validation" method = "POST" action = "/estandar/subcuentas/{{this.catbaseid}}/mas" novalidate>
    {{> formestandar}}
</form>